<a href="https://colab.research.google.com/github/tannu64/Energy-Audit/blob/main/connect_to_sqlite_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connecting Python To Databases Via Google Colaboratory (Colab)
Using Cursor Object and Panda DataFrame to work with POSTGRESQL, MYSQL/MARIADB, MS SQL and SQLITE data sources

# SQLITE

##Download remote sqlite db file

In [1]:
file_url='https://www.dropbox.com/s/a2wax843eniq12g/flights.db'
file_name=file_url.split('/')[-1]
!wget {file_url}

--2024-12-24 18:22:58--  https://www.dropbox.com/s/a2wax843eniq12g/flights.db
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://www.dropbox.com/scl/fi/psvv6u1ssz9m06qcmndvn/flights.db?rlkey=n507fhgcykz89b1mbeeaibsu6 [following]
--2024-12-24 18:22:58--  https://www.dropbox.com/scl/fi/psvv6u1ssz9m06qcmndvn/flights.db?rlkey=n507fhgcykz89b1mbeeaibsu6
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com/cd/0/inline/Cg4QZvdUpfSXoDsqia5mysbkXkyWMb84nrtgPnHMOJcA95w_soDwNwUx-QkUVNlAGuoDKdBPKdiXslum0CeZnb7ElputfIXTdqoipuXfgs5siVkaFGzkRNCdcZGszVsO0DM/file# [following]
--2024-12-24 18:22:59--  https://uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com/cd/0/inline/Cg4QZvdUpfSXoDsqia5mysbkXkyWMb84nrtgPnHMOJcA95w_soDwNwUx-QkUVNlAGuoDKdBPKdiXslum0CeZnb7ElputfIXTdqoipuXfgs5siVkaFGzkRNCdcZGszVsO0DM/file
Resolving uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com (uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com (uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Cg7Ojizqo1hElSzOusbdtuKZjaYELGYLBmT6OeW2buixCTUR831UjH9Gg7Qfsg2L8CJ6UEVNJ0o_xyC9yJuA6nFglIieilBOum1nonOc11zyTgrq_Cycjoj5T-f50JZqZ8dAVHz_ia-IuLnU_qMaqXVQHm84QQi27s_fQmJJ2l7oXwodHLws3CQZS1sWI8CZpvWrQkR-1x-CItriHM-IOS44K6s99q7w8kg_SH9B5j9Jor76uv-XAMi_m-5-EfCbgye6a-KftAXm0KEznwAbnS2G4wigsfIAM9eiTIGPPeydSjfEGDTuWNsbngL6zgIFxOMX7svpQAFFTzcGBYSYGrsV9LmRdHefy_a-l8q_0pivCg/file [following]
--2024-12-24 18:22:59--  https://uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com/cd/0/inline2/Cg7Ojizqo1hElSzOusbdtuKZjaYELGYLBmT6OeW2buixCTUR831UjH9Gg7Qfsg2L8CJ6UEVNJ0o_xyC9yJuA6nFglIieilBOum1nonOc11zyTgrq_Cycjoj5T-f50JZqZ8dAVHz_ia-IuLnU_qMaqXVQHm84QQi27s_fQmJJ2l7oXwodHLws3CQZS1sWI8CZpvWrQkR-1x-CItriHM-IOS44K6s99q7w8kg_SH9B5j9Jor76uv-XAMi_m-5-EfCbgye6a-KftAXm0KEznwAbnS2G4wigsfIAM9eiTIGPPeydSjfEGDTuWNsbngL6zgIFxOMX7svpQAFFTzcGBYSYGrsV9LmRdHefy_a-l8q_0pivCg/file
Reusing existing connection to uccf8047cc4b9e782f433e478099.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 5415936 (5.2M) [application/octet-stream]
Saving to: ‘flights.db’

flights.db          100%[===================>]   5.17M  --.-KB/s    in 0.09s

2024-12-24 18:23:00 (58.7 MB/s) - ‘flights.db’ saved [5415936/5415936]

In [2]:
import sqlite3
lt_conn = sqlite3.connect(file_name)

##Use Cursor Object to manipulate database

In [3]:
import sqlite3
lt_conn = sqlite3.connect(file_name)
db_cursor = lt_conn.cursor()
db_cursor.execute("select * from airlines limit 5;")
for row in db_cursor:
  print(row)
db_cursor.close()
db_cursor.close()

(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y')
(1, '2', '135 Airways', '\\N', None, 'GNL', 'GENERAL', 'United States', 'N')
(2, '3', '1Time Airline', '\\N', '1T', 'RNX', 'NEXTIME', 'South Africa', 'Y')
(3, '4', '2 Sqn No 1 Elementary Flying Training School', '\\N', None, 'WYT', None, 'United Kingdom', 'N')
(4, '5', '213 Flight Unit', '\\N', None, 'TFU', None, 'Russia', 'N')

## Connecting to sqlite db file in google drive

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
gdrv_file='/content/flights.db'
print(gdrv_file)

/content/flights.db

In [11]:
import sqlite3
lt_conn = sqlite3.connect(gdrv_file)
db_cursor = lt_conn.cursor()
db_cursor.execute("select * from airlines limit 5;")
db_rows = db_cursor.fetchall()
print(db_rows[0])
db_cursor.close()
lt_conn.close()

(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y')

# Using Pandas DataFrame to manipulate database

In [12]:
import sqlite3
import pandas as pd
lt_conn = sqlite3.connect(gdrv_file)
db_query = pd.read_sql_query('''select * from airlines limit 5;''', lt_conn)
df = pd.DataFrame(db_query)
lt_conn.close()
df

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N

sqlite3 is a lightweight, serverless, self-contained SQL database engine that is included with Python's standard library. It is excellent for small-scale applications and local data storage. Here's a guide to using sqlite3 with Python:

# **1. Setting Up and Connecting**

In [13]:
import sqlite3

# Connect to a database (or create it if it doesn't exist)
connection = sqlite3.connect("example.db")

# Create a cursor object to execute SQL commands
cursor = connection.cursor()

# **2. Creating a Table**

In [24]:
# SQL command to create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
)
"""
cursor.execute(create_table_query)

# **3. Inserting Data**

In [25]:
# Insert a single row
insert_query = "INSERT INTO users (name, age, email) VALUES (?, ?, ?)"
cursor.execute(insert_query, ("Alice", 25, "alice@example.com"))

# Insert multiple rows
users = [
    ("Bob", 30, "bob@example.com"),
    ("Charlie", 35, "charlie@example.com")
]
cursor.executemany(insert_query, users)

# Commit the transaction
connection.commit()

IntegrityError: UNIQUE constraint failed: users.email

# **4. Querying Data**

In [26]:
# Fetch all rows
select_query = "SELECT * FROM users"
cursor.execute(select_query)
all_rows = cursor.fetchall()
for row in all_rows:
    print(row)

# Fetch a specific row
cursor.execute("SELECT * FROM users WHERE name = ?", ("Alice",))
alice_row = cursor.fetchone()
print(alice_row)

(1, 'Alice', 26, 'alice@example.com')
(2, 'Bob', 30, 'bob@example.com')
(1, 'Alice', 26, 'alice@example.com')

# **5. Updating Data**

In [27]:
update_query = "UPDATE users SET age = ? WHERE name = ?"
cursor.execute(update_query, (26, "Alice"))
connection.commit()

# **6. Deleting Data**

In [28]:
delete_query = "DELETE FROM users WHERE name = ?"
cursor.execute(delete_query, ("Charlie",))
connection.commit()

# **7. Handling Exceptions**

In [29]:
try:
    connection = sqlite3.connect("example.db")
    cursor = connection.cursor()
    # Your database operations here
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    if connection:
        connection.close()

# **8. Closing the Connection**

In [30]:
connection.close()